# dependencies
node_modules/

# environment variables
.env
server/.env

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# build output (for later, client/)
dist/
client/dist/

frontend/node_modules/
frontend/dist/